/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Mulish', sans-serif;
}

/* navbar */
.menu-dropdown {
    display: none;
  }
  
.menu-btn {
    display: none;
  }
  
nav {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 36px;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120 px;
    height: 100%;
    margin-left: 135px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 81px;
  }
  
.menu li a {
    text-decoration: none;
    color: #414141;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
  }
  .right-section {
    display: flex;
    align-items: center;
  }

.right-section .avatar {
    width: 56px;
    height: 56px;
    margin-left: 56px;
    margin-right: 60px;
}


/* movie container */
.movie-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding-bottom: 96px;
}

.movie-container .movie-logo {
    width: 30%;
    margin-left: 70px;
}

.movie-logo .box {
    width: 332px;
    height: 458px;
    border: 2px solid #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.movie-banner{
    height: 362px;
    width: 236px;
}
.movie-details {
    width: 70%;
    margin-right: 70px;
}

.movie-details .title {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.genre h3 {
    font-size: 18px;
    color: #4E4B66;
    margin-bottom: 32px;
}

.details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.details {
    flex-basis: 50%;
}

.details .header {
    font-size: 14px;
    color: #8692A6;
    line-height: 24px;
    font-weight: 600;
}

.details .caption {
    font-size: 16px;
    color: #121212;
    font-weight: bold;
    padding-bottom: 16px;
}

.synopsis {
    margin-top: 16px;
}

.synopsis-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
}

.synopsis .caption {
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
}

/* SHOWTIME TICKETS */
.showtime-tickets {
    background-color: #F5F6F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.showtime-tickets h1 {
    font-size: 24px;
    color: black;
    padding: 24px;
    padding-top: 70px;
    font-weight: bolder;
}
.date-location {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 72px;
}

.date-location #date{
    width: 284px;
    height: 56px;
    background-color: #EFF0F6;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}


.date-location #location {
    width: 284px;
    height: 56px;
    background-color: #EFF0F6;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}
.studio-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 32px;
    align-items: center;
    align-content: center;
}
.studio-details {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
}
.name-location {
    display: flex;
    flex-direction: column;
}
.studio-img {
    margin-right: 47px;
    margin-top: 24px;
    height: auto;
    width: auto;
}
.studio{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 381px;
    height: 350px;
    border-radius: 8px;
    padding: 20px;
    background-color: #FFFFFF;
}
.studio-name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 4px;
    margin-top: 24px;
}

.studio-location {
    font-size: 12px;
    color: #6E7191;
}

.schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;

}
.schedule p {
    flex-basis: 25%;
    color: #4E4B66;
    margin-bottom: 32px;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-now {
    margin-top: 32px;
    background-color: #5F2EEA;
    height: 40px;
    width: 325px;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
    align-self: center;
    border: none;
}

.book-now:hover{
    cursor: pointer;
}

.view-more {
    position: relative;
    color: #5F2EEA;
    margin-bottom: 64px;
    text-decoration: none;
    font-weight: bolder;
}

.view-more:before{
    content:" ";
    display: block;
    height: 2px;
    width: 523px;
    position: absolute;
    top: 50%;
    left: 130px;
    background: #DEDEDE;
}

.view-more:after {
    content: "";
    display: block;
    width: 523px;
    height: 2px;
    background: #DEDEDE;
    right: 130px;
    top: 50%;
    position: absolute;
}

/* footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 110px;
}

.tickitz p{
    color: #6E7191;
    font-size: 16px;
    line-height: 32px;
    margin-top: 29px;
}

.footer h3 {
    color: black;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.explore {
    display: flex;
    flex-direction: column;
}
.explore .menu {
    display: flex;
    flex-direction: column;
}

.explore a {
    text-decoration: none;
    font-size: 14px;
    color: #4E4B66;
    line-height: 18px;
}

.sponsor {
    display: flex;
    flex-direction: column;
   
}
.sponsor img {
    height: auto;
    width: 100px;
    margin-bottom: 25px;
}

.socmed {
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
}

.socmed p {
    margin-left: 22px;
    font-size: 14px;
    color: #6E7191;
}

footer .copyright {
    text-align: center;
    margin-bottom: 47px;
    font-size: 14px;
    color: #4E4B66;
}

@media screen and (max-width:500px) {
    /* NAVBAR SECTION */
    .logo img {
        margin-left: 24px;
    }
    .menu {
        display: none;
    }
    .right-section {
        display: none;
    }
    .menu-btn {
        margin-right: 39px;
        cursor: pointer;
        display: block;
    }
    .menu-dropdown {
        display: none;
        width: 100%;
        background-color: #FFFFFF;
        position:absolute;
        top: 15%;
      }
    .menu-dropdown.show-dropdown {
        display: block;
      }
    .menu-dropdown li, .menu-dropdown p {
        display: block;
        text-align: center;
        font-size: 16px;
        font-family: 'Mulish', sans-serif;
        text-decoration: none;
        border: 1px solid #DEDEDE;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: bold;
        color: black;

    }
    li a {
        text-decoration: none;
    }
/* 
    MOVIE CONTAINER SECTION */
    .movie-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
   
    }

    .movie-container .movie-logo {
        margin-left: 0;
        margin-right: 25%;
  
        margin-bottom: 32px;
    }
    .movie-logo .box {
        width: 223px;
        height: 308px;
    }
    .box .movie-banner{
        width: auto;
        height: auto;
    }
    .movie-details{
        display: flex;
        flex-direction: column;
    }
    .title h1 {
        font-size: 20px;
        text-align: center;
    }

    .genre h3 {
        font-size: 16px;
        text-align: center;
    }

    .details-container .details .header {
        font-size: 13px;
    }

    .details-container .details p {
        font-size: 16px;
        line-height: 28px;
    }

    .date-location {
        display: flex;
        flex-direction: column;
    }

    .studio:nth-child(n+3) {
        display: none;
    }
    .view-more:after {
        width: 95px;
    }

    .view-more::before{
        width: 95px;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    .sponsor{
        flex-direction: row;
    }
    .social-media{
        flex-direction: row;
        display: flex;
    }
    .social-media .socmed p {
        display: none;
    }
}